:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-blue: #dbeeed;
  --orange: #dc9677;

}

html,
body {
  font-family: sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.heading {
  white-space: pre;
  font-family: var(--font-tilt);
  text-align: center;
  width: 90vw;
  margin: 0 auto;
  font-size: 65px;
  line-height: 1.8;
  color: var(--orange);
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}